.input-main{
  display: flex;
  border: 1px solid #e8e9ec;
  border-radius: 7px;
  margin: 0.5em 0;
  padding : 0 1em;
  width: 70%;
}

.input-body{
  border: none;
  margin: 1em;
  outline: none;
  width: 70%;
}