.input-main{
  display: flex;
  border: 1px solid #e8e9ec;
  border-radius: 7px;
  margin: 0.5em 0;
  padding : 0 1em;
  width: 70%;
  background-color: white;
}

.input-body{
  border: none;
  margin: 1em;
  outline: none;
  width: 70%;
}

@media only screen and (max-width: 775px) {
  .input-main{
    width:90%
  }

  .input-body{
    width: 50%;
  }
}