.add-employee{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#5851ea;
  padding: 8em 5em;
  background-image: url("/addteam-back2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.employee-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 6vw;
}

.half-size{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6vw;
}

@media only screen and (max-width: 850px) {
  .half-size{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78%;
  }
  .add-employee{
    padding: 7em 0;
    background-position: 50% 10%
  }

}

@media only screen and (max-width: 775px) {
  .half-size{
    width: 100%;
  }
}
