.add-employee{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#5851ea;
  margin: 8em 5em;
}

.employee-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 6vw;
}

.half-size{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6vw;
}

.sq-1{
  top: 20%;
  left: 13%;
}

.sq-2{
  top: 40%;
  left: 87%;
  transform: rotate(180deg)
}

@media only screen and (max-width: 850px) {
  .half-size{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78%;
  }
  .add-employee{
    margin: 7em 0;
  }

}

@media only screen and (max-width: 775px) {
  .half-size{
    width: 100%;
  }
}
