.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#5851ea ;
  padding: 10em 8vw;
  background-image: url("/back-team-plain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sq-3{
  position: absolute;
  top : 260%;
  left : 30%;
}

.team-list{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  margin: 6vw 0;
}

@media only screen and (max-width: 850px) {
.team{
  padding: 7em 8vw;
}
}