.teambox {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  min-width: 340px;
  margin: 1.5%;
  width: 47%;
  color: #a1a0ae;
  background-color: white;
}

.name{
  color: #4d4f5c;
}

.team-img{
  height: 5em;
  width: 5em;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 180px;
}

.team-header{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #5851ea;
}

.head-info{
  width:85%;
  display: flex;
}

.team-title{
  margin-left: 1em
}

.team-details{
  padding: 0.5em 1em; 
}

.team-details > p > span {
  font-size: smaller;
}

.icons {
  width: 15%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start
}

.hidden{
  border: none;
  background-color: transparent;
  outline: none;
  width:30%;
}

@media only screen and (max-width: 900px) {
  .teambox{
    width:97%;
    min-width: 140px;
  }

  .sq-1, .sq-2{
    visibility: hidden;
  }

  .team-img{
    height: 3em;
    width: 3em;
    margin-top: 2em;
  }
  .icons{
    width:20%;
  }

}