.edit-teambox {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: 2px 3px 5px 0px rgba(235, 235, 235, 1);
  min-width: 340px;
  margin: 1.5%;
  width: 47%;
  color: #a1a0ae;
  background-color: white;
}

.edit-team-title{
  margin-left: 1em;
}

.edit-team-img{
  background-image: url("/img-cut-landing.png");
  height: 5em;
  width: 5em;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 180px;
}

.edit-image{
  border: none;
  outline: none;
  width: 60%;
  background-color: transparent;
}

.img-edit-collection{
  display: flex;
}

.edit-team-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #5851ea;
}

.edit-head-info{
  width:85%;
  display: flex;
}

.edit-team-details{
  padding: 0.5em 1em; 
}

.tick{
  margin-left: 100%;
}


@media only screen and (max-width: 900px) {
  .edit-teambox{
    width:97%;
    min-width: 140px;
  }

  .tick{
    margin: none;
  }

}



