.half-main{
  display: flex;
  border: 1px solid grey;
  border-radius: 7px;
  margin: 0.5em 0;
  padding : 0 1em;
  width: 49%;
}

.half-body{
  border: none;
  margin: 1em;
  outline: none;
  width : 50%;
}