.half-main{
  display: flex;
  border: 1px solid #e8e9ec;
  border-radius: 7px;
  margin: 0.5em 0;
  padding : 0 1em;
  width: 49%;
  background-color: white;
}

.half-body{
  border: none;
  margin: 1em;
  outline: none;
  width : 50%;
}

@media only screen and (max-width: 850px) {
  .half-main{
    width: 90%;
  }

  .half-body{
    width: 60%;
  }
}