.team-input-main {
  display: flex;
  width: 70%;
  font-size: smaller;
}

.team-input-main > p {
  margin: 0.5em 0;
}

.team-input-body {
  border: none;
  outline: none;
  width: 70%;
  color: #5851ea;
}
