.header-img {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-image: url("/img-cut-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #5851ea;
}

.main-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
  padding: 4em 0;
  color: #6f7982;
  line-height: 2;
  background-image: url("/home-back2.png");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.landing {
  width: 40%;
}

.aug-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.augment {
  display: flex;
  flex-direction: row;
  padding: 2em 5em;
  text-align: start;
  justify-content: space-around;
}

.margin-bottom {
  margin-bottom: 9em;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: bold;
  color: #1a264a;
}

.single-line{
  align-self: center;
  margin: 3em 0 0.7em 0;
}




@media only screen and (max-width: 600px) {
  .header-img{
    background-position: 35% 30%
  }
  .augment {
    flex-direction: column;
    padding : 0;
    align-items: center ;
  }

  .main-home{
    background-position: 50% 10%
  }
  
  .landing {
    width: 70%;
  }

  .aug-text {
    width: 70%;
  }

  .small-text{
    margin: 0 1em;
  }

}