.nav {
  height: 12vh;
  width: 100%;
  background-color: #5851ea;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5vw 0 12vw;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .nav-title > .branding {
  width: 6em;
  margin-top: 0.7em;
}

.nav > .nav-btn {
  display: none;
  margin-top: 0.6em;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
  margin-top: 0.8em;
  margin-right: 6vw ;
}

.nav > .nav-links > .nav-link {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  margin-right: 2vw;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:765px) {
  .nav{
   padding: none 
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
 
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color :#5851ea;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links > .nav-link {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 200px;
    overflow-y: auto;
  }
}